<link rel="icon" type="image/x-icon" href="{{ url_for('favicon', filename='favicon.ico') }}">

<link rel="apple-touch-icon-precomposed" href="{{ url_for('favicon', filename='152-236412.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('favicon', filename='simple-compass-152-236412.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('favicon', filename='simple-compass-144-236412.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for('favicon', filename='simple-compass-120-236412.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('favicon', filename='simple-compass-114-236412.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('favicon', filename='simple-compass-72-236412.png') }}">
<link rel="apple-touch-icon-precomposed" sizes="32x32" href="{{ url_for('favicon', filename='simple-compass-57-236412.png') }}">

<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="{{ url_for('favicon', filename='simple-compass-144-236412.png') }}">
